{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
    Ares
{% endblock title %}
{% block ar-condicionados %}
{% endblock ar-condicionados %}
{% block content %}
    <div class="container">
        <h2 class="h5 text-green-dark fw-bold mb-0 mt-3 mb-2">Ajustes do ar</h2>
         <p class="text-green-medium">
                Grave os sinais do ar-condicionado selecionado.
         </p>
            <div class="bg-white rounded-3 shadow-sm p-4 mb-4">
                {% bootstrap_messages %}
                <table class="table table-hover mb-0">
                    <thead>
                        <tr class="table-white">
                            <th scope="col">Ar-Condicionado</th>
                            <th scope="col">Sala</th>
                            <th scope="col">Pavilhão</th>
                            <th scope="col">Tópico MQTT</th>
                            <th scope="col">Potência</th>
                            <th scope="col">Consumo</th>
                            <th scope="col">Consumo Unidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-white">
                            <td>{{ ar.nome }}</td>
                            <td>{{ ar.sala.nome }}</td>
                            <td>{{ ar.sala.pavilhao.nome }}</td>
                            <td>{{ ar.sala.topico_mqtt }}</td>
                            <td>{{ ar.potencia_kw|floatformat:2 }} kW</td>
                            <td>{{ ar.consumo }}</td>
                            <td>{{ ar.consumo_unidade }}</td>
                        </tr>
                    </tbody>
                </table>
                <form action="{% url 'website:ajustes_ares' ar.uuid %}"
                      method="POST"
                      class="d-flex justify-content-center">
                    {% csrf_token %}
                    <div class="p-4 mb-4">
                        <button onclick="window.location.href='{% url 'website:ajustes_ares' ar.uuid %}'"
                                class="btn btn-outline-success btn"
                                name="comando"
                                value="gravar_ligar">Gravar Sinal de Ligar</button>
                        <button onclick="window.location.href='{% url 'website:ajustes_ares' ar.uuid %}'"
                                class="btn btn-outline-danger btn"
                                name="comando"
                                value="gravar_desligar">Gravar Sinal de Desligar</button>
                    </div>
                </form>
            </div>
            <!-- Botão Voltar -->
            <div class="botao-criarnovo">
                <a href="{% url 'website:listar_ares' %}" class="btn btn-outline-secondary btn-sm">
                    Voltar
                </a>
            </div>
        </div>
{% endblock content %}
