{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Pavilhões{% endblock title %}

{% block pavilhoes %}
<div class="button-pavilhao"> <!-- div do botão de pavilhões -->
    <div class="rectangle-3"></div>
    <img class="buildings-2" src="{% static 'buttons/buildings-20green.svg' %}"/>
    <button class="home-05" onclick="window.location.href='{% url 'website:listar_pavilhoes' %}'"></button>
    <div class="pavilh-o">Pavilhões</div>
</div>
{% endblock pavilhoes %}

{% block content %}
<div class="lista-pavilhao2 overflow-auto">
    <!-- div que determina o tamanho do bloco central, onde fica o conteúdo -->
    <div class="container"> <!-- div com a configuração da visualização dos horários -->
        {% bootstrap_messages %}
        <form action="{% if pavilhao %}{% url 'website:editar_pavilhoes' pavilhao.id %}{% else %}{% url 'website:criar_pavilhoes' %}{% endif %}"
              method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            <a class="btn btn-danger" href="{% url 'website:listar_pavilhoes' %}">Cancelar</a>
            <button type="submit" class="btn btn-primary">
                {% if pavilhao %}Atualizar{% else %}Cadastrar{% endif %}
            </button>
        </form>
    </div>
</div>
{% endblock content %}
