{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Horários{% endblock title %}

{% block horarios %}
<div class="button-horarios">  <!-- div do botão de horarios -->
    <div class="rectangle-3"></div>
    <img class="calendar-02" src="{% static 'buttons/calendar-020green.svg' %}"/>
    <button class="home-05" onclick="window.location.href='{% url 'website:listar_horarios' %}'"></button>
    <div class="hor-rios">Horários</div>
</div>
{% endblock horarios %}

{% block content %}
<div class="lista-pavilhao2 overflow-auto">
    <!-- Div que determina o tamanho do bloco central, onde fica o conteúdo -->
    <div class="container">
        <!-- Exibição de mensagens do sistema -->
        {% bootstrap_messages %}

        <!-- Formulário -->
        <form action="{% if horario %}{% url 'website:editar_horarios' horario.id %}{% else %}{% url 'website:criar_horarios' %}{% endif %}"
              method="post" class="form" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}

            <!-- Botões de ação -->
            <div class="d-flex justify-content-end align-items-center mt-3">
                <!-- Botão de cancelar -->
                <a class="btn btn-danger me-2" href="{% url 'website:listar_horarios' %}">Cancelar</a>

                <!-- Botão de cadastrar/atualizar -->
                <button type="submit" class="btn btn-primary">
                    {% if horario %}Atualizar{% else %}Cadastrar{% endif %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
