{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
    Salas
{% endblock title %}

{% block content %}
    <div class="container">
        {% if sala %}
            <h2 class="h5 text-green-dark fw-bold mb-0 mt-3 mb-2">Editar Sala</h2>
            <p class="text-green-medium">
                Altere as informações da sala selecionada abaixo. Atualize o nome ou o pavilhão conforme necessário e salve as alterações.
            </p>
        {% else %}
            <h2 class="h5 text-green-dark fw-bold mb-0 mt-3 mb-2">Criar Sala</h2>
            <p class="text-green-medium">
                Preencha os campos abaixo para cadastrar uma nova sala no sistema. Informe o nome e o pavilhão ao qual ela pertencerá.
            </p>
        {% endif %}
        <div class="bg-white rounded-3 shadow-sm p-4 mb-4">
            <form action="{% if sala %}{% url 'website:editar_salas' sala.uuid %}{% else %}{% url 'website:criar_sala' %}{% endif %}"
                  method="post"
                  class="form"
                  autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form form %}
                <a class="btn btn-outline-secondary"
                   href="{% url 'website:listar_salas' %}">Cancelar</a>
                <button type="submit" class="btn btn-success">
                    {% if sala %}
                        Atualizar
                    {% else %}
                        Cadastrar
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
{% block alert_script %}
{% endblock alert_script %}

