{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Horários{% endblock title %}

{% block horarios %}
<div class="button-horarios">  <!-- div do botão de horarios -->
    <div class="rectangle-white"></div>
    <img class="img-botoes-menu" src="{% static 'buttons/calendar-020green.svg' %}"/>
    <button class="img-botoes-menu" onclick="window.location.href='{% url 'website:listar_horarios' %}'"></button>
    <div class="nome-botoes-menu">Horários</div>
</div>
{% endblock horarios %}

{% block content %}
     <div class="bloco-central">
        <div class="lista-pavilhao overflow-auto">
            <!-- div que determina o tamanho do bloco central, onde fica o conteúdo -->
                <center>
                    <div class="alert alert-danger" role="alert">
                        Deletar a horário "{{horario}}"?
                    </div>
                    <form action="{% url 'website:deletar_horarios' horario.id %}" method="POST">
                        {% csrf_token %}
                        <a class="btn btn-primary" href="{% url 'website:listar_horarios' %}">Cancelar</a>
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>
                </center>
        </div>
     </div>
{% endblock content %}