{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Salas{% endblock title %}

{% block salas %}
<div class="button-salas"> <!-- div do botão de salas -->
    <div class="rectangle-white"></div>
    <img class="img-botoes-menu" src="{% static 'buttons/book-040green.svg' %}"/>
    <button class="img-botoes-menu" onclick="window.location.href='{% url 'website:listar_salas' %}'"></button>
    <div class="nome-botoes-menu">Salas</div>
</div>
{% endblock salas %}

{% block content %}
    <div class="bloco-central">
        <div class="lista-pavilhao overflow-auto">
        <!-- div que determina o tamanho do bloco central, onde fica o conteúdo -->
            <center>
                <div class="alert alert-danger" role="alert">
                    Deletar a sala "{{sala}}"?
                </div>
                <form action="{% url 'website:deletar_salas' sala.id %}" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-primary" href="{% url 'website:listar_salas' %}">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </center>
        </div>
    </div>
{% endblock content %}