{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
    Página Inicial
{% endblock title %}
{% block content %}
    <div class="container">
        <h2 class="h5 text-green-dark fw-bold mb-0 mt-3 mb-2">Editar Gráficos</h2>
        <p class="text-green-medium">Altere o valor (R$) do kWh da sua concessionária de energia</p>
        <div class="bg-white rounded-3 shadow-sm p-4 mb-4">
            <form action="{% url 'website:editar_grafico' %}"
                  method="post"
                  class="form"
                  autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form form %}
                <!-- Botão de cancelar -->
                <a class="btn btn-outline-secondary"
                   href="{% url 'website:pagina_inicial' %}">Cancelar</a>
                <!-- Botão de editar -->
                <button type="submit" class="btn btn-success">Editar</button>
            </form>
        </div>
    </div>
{% endblock content %}
