{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Horários{% endblock title %}

{% block horarios %}
<div class="button-horarios">
    <div class="rectangle-white"></div>
    <img class="img-botoes-menu" src="{% static 'buttons/calendar-020green.svg' %}"/>
    <button class="img-botoes-menu" onclick="window.location.href='{% url 'website:listar_horarios' %}'"></button>
    <div class="nome-botoes-menu">Horários</div>
</div>
{% endblock horarios %}

{% block content %}
<div class="lista-pavilhao overflow-auto">
    <div class="container">
        {% bootstrap_messages %}
        <table class="table table-bordered border-success">
            <thead>
                <tr class="table-light" style="width: 15px;">
                    {% for dia in dias_da_semana %}
                        <th scope="col" class="text-center" style="width: 5px;">{{ dia }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for hora in horas %}
            <tr class="table-light">
                {% for dia in dias_da_semana %}
                    <td class="align-top">
                        {% for horario in horarios %}
                            {% if dia in horario.dias_da_semana and horario.horario_inicio.hour == hora %}
                                <div class="horario-bloco" style="15px;">
                                    {{ horario.horario_inicio }} - {{ horario.horario_fim }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="botao-criarnovo">
    <button onclick="window.location.href='{% url 'website:criar_horario' %}'" class="btn btn-success btn-sm">
        Criar Novo
    </button>
</div>

<div class="filtro-search">
    <form method="POST">
        {% csrf_token %}
        <div class="form-inline">
            <select class="filtro-search-botoes form-select btn btn-success btn-sm" name="pavilhao">
                <option value="" class="list-group" {% if not filtrarpavilhao %}selected{% endif %}>Pavilhões</option>
                {% for pavilhao in pavilhoes %}
                <option value="{{ pavilhao.id }}" {% if filtrarpavilhao == pavilhao.id|stringformat:"s" %}selected{% endif %}>
                    {{ pavilhao.nome }}
                </option>
                {% endfor %}
            </select>
            <select class="filtro-search-botoes form-select btn btn-success btn-sm" name="sala">
                <option value="" class="list-group"{% if not filtrarsala %}selected{% endif %}>Salas</option>
                {% for sala in salas %}
                <option value="{{ sala.id }}" {% if filtrarsala == sala.id|stringformat:"s" %}selected{% endif %}>
                    {{ sala.nome }}
                </option>
                {% endfor %}
            </select>
            <select class="filtro-search-botoes form-select btn btn-success btn-sm" name="turno">
                <option value="" class="list-group"{% if not filtrarturno %}selected{% endif %}>Turnos</option>
                {% for turno in turnos %}
                <option value="{{ turno.0 }}" {% if filtrarturno == turno.0 %}selected{% endif %}>
                    {{ turno.1 }}
                </option>
                {% endfor %}
            </select>
            <input class="filtro-search-botoes form-control btn btn-success btn-sm" type="submit" value="Buscar">
        </div>
    </form>
</div>

{% endblock content %}