{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'buttons/hotel-air-conditioner0.svg' %}">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/all_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all_vars.css' %}">


    <style>
        a,
        button,
        input,
        select,
        h1,
        h2,
        h3,
        h4,
        h5,
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            background: none;

            -webkit-font-smoothing: antialiased;
        }

        menu, ol, ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
    <title>Document</title>
</head>
<body>
<div class="lista-pavilh-es"> <!-- div principal, ultima a ser fechada -->
    <div class="rectangle-9"></div> <!--div que define o fundo verde dos botões -->
    <div class="menu-buttons"> <!--div dos botões -->
        <div class="button-horarios">  <!-- div do botão de horarios -->
            <div class="rectangle-3"></div>
            <img class="calendar-02" src="{% static 'buttons/calendar-020green.svg' %}"/>
            <button class="home-05" onclick="window.location.href='{% url 'website:listar_horarios' %}'"></button>
            <div class="hor-rios">Horários</div>
        </div>
        <div class="button-arcondicionados">  <!-- div do botão de ar -->
            <div class="rectangle-6"></div>
            <img class="snowflake" src="{% static 'buttons/snowflake0white.svg' %}"/>
            <button class="home-05" onclick="window.location.href='{% url 'website:listar_ar' %}'"></button>
            <div class="ar-condicionado">Ar-condicionado</div>
        </div>
        <div class="button-salas">  <!-- div do botão de salas -->
            <div class="rectangle-5"></div>
            <img class="book-04" src="{% static 'buttons/book-040white.svg' %}"/>
            <button class="home-05" onclick="window.location.href='{% url 'website:listar_salas' %}'"></button>
            <div class="salas">Salas</div>
        </div>
        <div class="button-pavilhao">  <!-- div do botão de pavilhões -->
            <div class="rectangle-6"></div>
            <img class="buildings-2" src="{% static 'buttons/buildings-20white.svg' %}"/>
            <button class="home-05" onclick="window.location.href='{% url 'website:listar_pavilhoes' %}'"></button>
            <div class="pavilh-o">Pavilhão</div>
        </div>
        <div class="button-home">  <!-- div do botão de pagina inicial -->
            <div class="rectangle-home"></div>
            <img class="home-05" src="{% static 'buttons/home-050white.svg' %}"/>
            <button class="buildings-2" onclick="window.location.href='{% url 'website:pagina_inicial' %}'"></button>
            <div class="in-cio">Início</div>
        </div>
    </div>
    <div class="menu-bar"><!-- barra superior do site-->
        <div class="rectangle-1"></div>
        <img class="hotel-air-conditioner" src="{% static 'buttons/hotel-air-conditioner0.svg' %}"/>
        <div class="sistema-de-gest-o-de-ar-condicionado">
            Sistema de Gestão de Ar-Condicionado
        </div>
    </div>


    <div class="lista-pavilhao2 overflow-auto">
        <!-- div que determina o tamanho do bloco central, onde fica o conteúdo -->
        <div class="container">
            <table class="table table-bordered border-success"> <!-- div da tabela representando a lista de horario -->
                <thead>
                <tr class="table-light">
                    <th scope="col">Pavilhão</th>
                    <th scope="col">Dias da semana</th>
                    <th scope="col">Horário início</th>
                    <th scope="col">Horário fim</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for horario in horarios %}
                <tr class="table-light">
                    <td scope="row">{{ horario.pavilhao }}</td>
                    <td scope="row">
                        {% for dia_da_semana in horario.dias_da_semana %}
                        {{ dia_da_semana }}
                        {% endfor %}
                    </td>
                    <td scope="row">{{ horario.horario_inicio }}</td>
                    <td scope="row">{{ horario.horario_fim }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           href="{% url 'website:editar_horarios' horario.id %}">Editar</a>
                        <a class="btn btn-danger btn-sm"
                           href="{% url 'website:deletar_horarios' horario.id %}">Deletar</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- fechamento da div da lista-->

    </div><!-- fechamento da div que determina o tamanho do bloco central-->

    <div class="botao-criarnovo"> <!-- div do botão de editar/criar novo -->
        <button onclick="window.location.href='{% url 'website:criar_horarios' %}'" class="btn btn-success btn-sm"
                aria-expanded="false">
            Criar Novo
        </button>
    </div>


    <div class="filtro-search">
        <form method="POST">
            {% csrf_token %}
            <div class="form-inline">
                <select class="form-select btn btn-success btn-sm" name="pavilhao">
                    <option class="list-group" selected disabled="true">Pavilhão</option>
                    {% for pavilhao in pavilhoes %}
                    <option value="{{ pavilhao.id }}">{{ pavilhao.nome }}</option>
                    {% endfor %}
                </select>
                <input class="form-control btn btn-success btn-sm" type="submit" value="Search">
            </div>
        </form>
    </div>


</div>
{% bootstrap_javascript %}
</body>
</html>