/* CSS de todas as classes utilizadas nas páginas */
.lista-pavilh-es,
.lista-pavilh-es * {
  box-sizing: border-box;
}
.lista-pavilh-es {
  background: var(--var-sds-color-background-default-secondary-hover, #e6e6e6);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.rectangle-9 {
  background: #116b16;
  width: 75px;
  height: 100vh;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 50px;
}

.menu-buttons {
  width: 56px;
  height: 559.3px;
  position: absolute;
  left: 9.1px;
  top: 118.3px;
}
.button-usuarios {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 490px;
}
.rectangle-4 {
  background: #4dbc53;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.7px;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2.8px 2.8px 0px rgba(0, 0, 0, 0.25);
}
.user-profile-01 {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 7px;
  top: 7px;
  overflow: visible;
}
.usu-rios {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9.8px;
  font-weight: 700;
  position: absolute;
  left: -10.5px;
  top: -23.8px;
  width: 76.3px;
  height: 30.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-horarios {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 392px;
}
.rectangle-7 {
  background: #4dbc53;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.7px;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2.8px 2.8px 0px rgba(0, 0, 0, 0.25);
}
.calendar-02 {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 7px;
  top: 7px;
  overflow: visible;
}
.hor-rios {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9.8px;
  font-weight: 700;
  position: absolute;
  left: -10.5px;
  top: -23.8px;
  width: 76.3px;
  height: 30.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-arcondicionados {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 294px;
}
.rectangle-6 {
  background: #4dbc53;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.7px;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2.8px 2.8px 0px rgba(0, 0, 0, 0.25);
}
.snowflake {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 7px;
  top: 7px;
  overflow: visible;
}
.ar-condicionado {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9.8px;
  font-weight: 700;
  position: absolute;
  left: -10.5px;
  top: -30.8px;
  width: 76.3px;
  height: 30.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-salas {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 196px;
}
.rectangle-5 {
  background: #4dbc53;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.7px;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2.8px 2.8px 0px rgba(0, 0, 0, 0.25);
}
.book-04 {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 7px;
  top: 7px;
  overflow: visible;
}
.salas {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9.8px;
  font-weight: 700;
  position: absolute;
  left: -10.5px;
  top: -23.8px;
  width: 76.3px;
  height: 30.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-pavilhao {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 98px;
}
.rectangle-3 {
  background: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.7px;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2.8px 2.8px 0px rgba(0, 0, 0, 0.25);
}
.buildings-2 {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 7px;
  top: 7px;
  overflow: visible;
}
.pavilh-o {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9.8px;
  font-weight: 700;
  position: absolute;
  left: -10.5px;
  top: -23.8px;
  width: 76.3px;
  height: 30.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-home {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-home {
  background: #4dbc53;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.7px;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2.8px 2.8px 0px rgba(0, 0, 0, 0.25);
}
.home-05 {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 7px;
  top: 7px;
  overflow: visible;
}
.in-cio {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 9.8px;
  font-weight: 700;
  position: absolute;
  left: -10.5px;
  top: -23.8px;
  width: 76.3px;
  height: 30.8px;
}

.menu-bar,
.menu-bar * {
  box-sizing: border-box;
}
.menu-bar {
  height: 73.5px; /* 70% de 105px */
  position: relative;
}
.rectangle-1 {
  background: #116b16;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1.4px; /* 70% de 2px */
  height: 70px; /* 70% de 100px */
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}
.hotel-air-conditioner {
  width: 42px; /* 70% de 60px */
  height: 42px; /* 70% de 60px */
  position: absolute;
  left: 14.7px; /* 70% de 21px */
  top: 14px; /* 70% de 20px */
  overflow: visible;
}
.line-1 {
  margin-top: -0.7px; /* 70% de -1px */
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.7px 0 0 0; /* 70% de 1px */
  width: 70.014px; /* 70% de 100.02px */
  height: 0;
  position: absolute;
  left: 73.5px; /* 70% de 105px */
  top: 0;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(0.7, 0.7); /* 70% de scale(1, 1) */
}
.sistema-de-gest-o-de-ar-condicionado {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 22.4px; /* 70% de 32px */
  font-weight: 700;
  position: absolute;
  left: 90.3px; /* 70% de 129px */
  top: 10.5px; /* 70% de 15px */
  width: 444.5px; /* 70% de 635px */
  height: 49px; /* 70% de 70px */
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-pavilhao2 {
  width: 867.3px; /* 70% de 1239px */
  max-height: 470px; /* 70% de 437px */
  top: 200px;
  left: 350px;
  position: absolute;
  bottom: 150px; /* 70% de 338px */
  overflow: hidden;
}

.botao-editar{
  left: 1130px;
  top: 90px;
}