{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.8" />
        <link rel="icon"
              type="image/x-icon"
              href="{% static 'icons/icon-air-conditioner2.svg' %}">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap"
              rel="stylesheet">
        <meta name="description"
              content="Sistema de Gerenciamento de Ar Condicionado - Login e Registro" />
        <meta name="keywords"
              content="ar condicionado, gerenciamento, login, registro" />
        <title>
            {% block title %}
                Título
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/all_accounts_style.css' %}" />
    </head>
    <body>
        <div class="content-wrapper">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
