{% extends "registration/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <div class="card shadow-lg p-4 custom-card">
        <div class="text-center mb-4">
            <img class="imglogin"
                 src="{% static 'icons/icon-air-conditioner2.svg' %}"
                 alt="Login Icon"
                 width="80"
                 height="80" />
            <h3 class="fw-bold text-success">Login ChronoAir</h3>
        </div>
        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger p-2">
                    {% for error in form.non_field_errors %}<small>{{ error }}</small>{% endfor %}
                </div>
            {% endif %}
            <div class="form-floating mb-3">
                <input type="text"
                       name="username"
                       class="form-control"
                       id="floatingUsername"
                       placeholder="Usuário"
                       required />
                <label for="floatingUsername">Usuário</label>
                {% if form.username.errors %}
                    <div class="text-danger">
                        {% for error in form.username.errors %}<small>{{ error }}</small>{% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-floating mb-3">
                <input type="password"
                       name="password"
                       class="form-control"
                       id="floatingPassword"
                       placeholder="Senha"
                       required />
                <label for="floatingPassword">Senha</label>
                {% if form.password.errors %}
                    <div class="text-danger">
                        {% for error in form.password.errors %}<small>{{ error }}</small>{% endfor %}
                    </div>
                {% endif %}
            </div>
            <button name="submit" class="btn btn-success w-100">Entrar</button>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'accounts:register' %}"
               class="text-decoration-none text-neon">Criar conta</a>
            <br>
            <a href="{% url 'accounts:password_reset' %}"
               class="text-decoration-none text-neon">Esqueceu a senha?</a>
        </div>
    </div>
{% endblock content %}
