{% extends 'registration/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

<h3>Altere sua senha, {{user.username}}</h3>
<h4>Para alterar sua senha, preencha os campos abaixo:</h4>

<form action="{% url 'accounts:password_change' %}" method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="password" name="{{ form.old_password.name }}" class="form-control" id="floatingPassword" placeholder="Senha antiga" required>
        <label for="floatingPassword">Senha antiga</label>
        {% if form.old_password.errors %}
            <div class="alert alert-danger">
                {% for error in form.old_password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="form-floating mb-3">
        <input type="password" name="{{ form.new_password1.name }}" class="form-control" id="floatingPassword" placeholder="Nova Senha" required>
        <label for="floatingPassword">Nova senha</label>
        {% if form.new_password1.errors %}
            <div class="alert alert-danger">
                {% for error in form.new_password1.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="form-floating mb-3">
        <input type="password" name="{{ form.new_password2.name }}" class="form-control" id="floatingPassword" placeholder="Confirmar senha" required>
        <label for="floatingPassword">Confirmar senha</label>
        {% if form.new_password2.errors %}
            <div class="alert alert-danger">
                {% for error in form.new_password2.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-success">Alterar senha</button>
</form>

{% endblock %}