{% load i18n %}
{% autoescape off %}
    {% blocktranslate %}Prezado(a) usuário(a),{% endblocktranslate %}
    {% blocktranslate %}Recebemos uma solicitação para redefinir a senha da sua conta registrada no site {{ site_name }}.
    Para prosseguir com a redefinição, clique no link abaixo:{% endblocktranslate %}
    {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
    {% blocktranslate %}Se você não solicitou a redefinição de senha, desconsidere este e-mail. Sua conta permanecerá segura e nenhuma alteração será feita.{% endblocktranslate %}
    {% blocktranslate %}Atenciosamente,{% endblocktranslate %}
    {% blocktranslate %}Equipe de Suporte {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
