{% extends 'registration/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

<h4>Esqueceu a sua senha?</h4>
<h5>Digite seu e-mail abaixo:</h5>

<form method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="text" name="{{ form.email.name }}" class="form-control" id="floatingUsername" placeholder="E-mail" required>
        <label for="floatingUsername">E-mail</label>
    </div>

    <button type="submit" class="btn btn-success" onclick="window.location.href='{% url 'accounts:login' %}'">Voltar</button>
    <button name="submit" class="btn btn-success">Enviar</button>
</form>

{% endblock %}