{% load i18n %}
{% autoescape off %}
    {% blocktranslate %}Você está recebendo este email porque solicitou a redefinição de senha para sua conta de usuário
        registrada no site {{ site_name }}.{% endblocktranslate %}

    {% translate "Por favor, clique no link abaixo para configurar uma nova senha:" %}
    {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

    {% translate "Se você não solicitou isso, ignore este email. Nenhuma alteração será feita em sua conta." %}

    {% translate "Obrigado," %}
    {% blocktranslate %}Equipe {{ site_name }}{% endblocktranslate %}
{% endautoescape %}