{% extends 'registration/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
    Alterar Senha
{% endblock title %}
{% block content %}
    <h4 class="texto-mensagem">Altere sua senha, {{ user.username }}</h4>
    <br />
    <h5 class="texto-mensagem">Para alterar sua senha, preencha os campos abaixo:</h5>
    <br />
    <form action="{% url 'accounts:password_change' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="password"
                   name="{{ form.old_password.name }}"
                   class="form-control"
                   id="floatingPassword"
                   placeholder="Senha antiga"
                   required />
            <label for="floatingPassword">Senha antiga</label>
            {% if form.old_password.errors %}
                <div class="text-danger">
                    {% for error in form.old_password.errors %}<small>{{ error }}</small>{% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            <input type="password"
                   name="{{ form.new_password1.name }}"
                   class="form-control"
                   id="floatingPassword"
                   placeholder="Nova Senha"
                   required />
            <label for="floatingPassword">Nova senha</label>
            {% if form.new_password1.errors %}
                <div class="text-danger">
                    {% for error in form.new_password1.errors %}<small>{{ error }}</small>{% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            <input type="password"
                   name="{{ form.new_password2.name }}"
                   class="form-control"
                   id="floatingPassword"
                   placeholder="Confirmar senha"
                   required />
            <label for="floatingPassword">Confirmar senha</label>
            {% if form.new_password2.errors %}
                <div class="text-danger">
                    {% for error in form.new_password2.errors %}<small>{{ error }}</small>{% endfor %}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-success">Alterar senha</button>
        <button type="button"
                class="btn btn-danger"
                onclick="window.location.href='{% url 'website:pagina_inicial' %}'">Voltar</button>
    </form>
{% endblock content %}
