{% extends 'registration/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
    Recuperar Senha
{% endblock title %}
{% block content %}
    <h4 class="texto-mensagem">Esqueceu a sua senha?</h4>
    <h5 class="texto-mensagem">Digite seu e-mail abaixo:</h5>
    <form method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="email"
                   name="{{ form.email.name }}"
                   class="form-control"
                   id="floatingUsername"
                   placeholder="Email"
                   required />
            <label for="floatingUsername">E-mail</label>
            {% if form.email.errors %}<div class="text-danger">{{ form.email.errors|striptags }}</div>{% endif %}
        </div>
        <button name="submit" class="btn btn-success">Enviar</button>
        <button type="button"
                class="btn btn-danger"
                onclick="window.location.href='{% url 'accounts:login' %}'">Voltar</button>
    </form>
{% endblock content %}
