{% extends 'registration/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
    Recuperar Senha
{% endblock title %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="shadow-lg p-4 custom-card">
            <div class="img-login mb-3 gap-2">
                <img src="{% static 'icons/icon-air-conditioner2.svg' %}"
                     alt="Login Icon"
                     width="50"
                     height="50" />
                <h3 class="fw-bold text-success d-flex align-items-center">ChronoAir</h3>
            </div>
            <h3 class="fw-bold text-success">Esqueceu a sua senha?</h3>
            <h5 class="mt-3 text-dark-green">Digite seu e-mail abaixo para redefinir sua senha:</h5>
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger p-2">
                        {% for error in form.non_field_errors %}<small>{{ error }}</small>{% endfor %}
                    </div>
                {% endif %}
                <div class="form-floating mb-3">
                    <input type="email"
                           name="{{ form.email.name }}"
                           class="form-control"
                           id="floatingEmail"
                           placeholder="Email"
                           required />
                    <label for="floatingEmail">E-mail</label>
                    {% if form.email.errors %}
                        <div class="text-danger">
                            {% for error in form.email.errors %}<small>{{ error }}</small>{% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button name="submit" class="btn btn-success w-100">Enviar</button>
                <button type="button"
                        class="btn btn-danger w-100 mt-2"
                        onclick="window.location.href='{% url 'accounts:login' %}'">Voltar</button>
            </form>
        </div>
    </div>
{% endblock content %}
