{% extends 'registration/base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Alterar Senha{% endblock %}
{% block content %}
    <h3 class="texto-mensagem">A senha foi alterada com sucesso!</h3>
    <br>
    <h4 class="texto-mensagem">Sua senha foi atualizada. Você pode continuar navegando normalmente.</h4>
    <br>
    <button class="btn btn-success"
            onclick="window.location.href='{% url 'website:pagina_inicial' %}'">Voltar para a página inicial</button>
{% endblock content %}
